body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(245, 245, 255);
    color:rgb(76, 99, 173);
}
code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 0 3px;
}
li {
    padding: 5px;
}
.title {
    background: linear-gradient(to right, rgb(122, 122, 237), rgb(76, 99, 173), rgb(76, 99, 173), rgb(76, 99, 173), rgb(76, 99, 173));
    background-clip: text;
    color: transparent;
}